@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.active{

    border-bottom: 1.5px solid white !important; 
    color: white !important;
}

body{
    background-color: #eeee;
    /* font-family: "Roboto Mono", serif;   */
}